*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
}

.Header{
  background-color: aliceblue;
  color:blue ;
  padding: 20px;
}

.Home{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}


.sidenav{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.upvote_btn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  gap:20px;
}

.upvote_section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Questions{
  width: 650px;
  
}

.post_section{
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}



.post_items{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.post_tags{
  display: flex;
  gap: 20px;

}

.post_profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.post_btn{
  display: flex;
  justify-content: space-around;
}